 form{
       background-color: darkgrey;
       width: 400px;
       height: 250px;
       text-align: center;
       padding: 25px;
       margin: 20px;
       font-family: 'Ubuntu';
       }
 body{
       background-color: lightgrey;
       margin: 20px;
       }
@media (min-width: 550px){
    body{
        background-color: darkgrey;
    }
}
@media (max-width: 800px){
     body{
    background-color: lightgrey;
        }
 }
}
#font
start{
    font-family: Arial, sans-serif;
}
    h1,h2,h3{
        font-family: Rockwell, "Times New Roman", serif;
    }
    ol,ul{
        border: 4px solid darkgrey;
        color: white;
        font-family: 'Ubuntu';
        font-size: 22px;
    }

    table{
        border: 3px solid darkgrey;
        border-collapse: collapse;
    }
    td, th{
        border: 0.3px solid grey;
        padding: 3px;
        text-align: center;
    }
    .sign{
        align: left;
        width: 200px;
        height: 180px;
        background-color: lightgrey;
        padding: 20px;
        margin: 10px;
    }

    .in{
        background-color: lightgrey;
        padding: 20px;
        margin: 10px;
    }