body {
            background-color: lightgrey;
            text-align: center;
        }

@media (min-width: 550px){
    body{
        background-color: darkgrey;
        }
    img{
        background-color: gold;
    }
}
@media (max-width: 800px){
     body{
    background-color: lightgrey;
    }

}
        hr {
            background-color:;
            margin: 0 auto 0 auto;
            margin-left:;
            border-top: dotted gold;
            border-width: 5px;
            border-bottom: none;
            border-left: none;
            border-right: none;

        }
        h1, h3{
            color: #66bfbf;
        }

img:hover{
    border-style: dashed;
    border-color: #66bfbf;
    background-color: black;
}